<div>
  <h1>{{room.topic}}</h1>
</div>

<div>
  {{#each posts as |post|}}
    <div class="post-div">
      <h3>{{post.subject}}</h3>
      <p>{{post.body}}</p>
    </div>
  {{/each}}
</div>

<div>
  <a href="/rooms/{{room.id}}/posts/new">New Post</a>
</div>

<form action="/rooms/{{post.room}}/posts/{{post.id}}" method="post" class="inline-form">
  <input type="hidden" name="points" id="post-points" value="-1">
  <button type="submit" class="downvote-button">-</button>
</form>

<form action="/rooms/{{post.room}}/posts/{{post.id}}" method="post" class="inline-form">
  <input type="hidden" name="points" id="post-points" value="1">
  <button type="submit" class="upvote-button">+</button>
</form>
